a{
  border: 2px black solid;
  cursor: pointer;
  transition: border .2s ease-in-out .15s; 
  border-radius: .4rem;
  padding: 7px 10px; 
}
a:hover{
  border: 2px white solid;

}
.Button {
  background-color: black;
  color: var(--primary-color);
  
}
.Secondary{
  background-color: var(--primary-color);
}