.every{
  border: 2px black solid;
  cursor: pointer;
  transition: border .2s ease-in-out; 
  border-radius: .4rem;
  padding: 7px 10px; 
  text-decoration: none;
}
.every:hover{
  border: 2px white solid;
  
}
.Button {
  background-color: black;
  color: var(--primary-color);
  
}
.Secondary{
  background-color: var(--primary-color);
  text-decoration: none;
  color: black;
}