
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
  color: black; 
  min-height: 75px;
  padding: 0 20px;
  border-bottom: 2px black solid;
  z-index: 10000;
}

.heading{
  font-family: var(--heading-font);
  font-size: clamp(.5rem,);
  cursor: pointer;
}
li{
  list-style: none;
}